{# templates/connexion/index.html.twig #}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <script src="{{ asset('js/main.js') }}" defer></script>
    <title>Connexion / Inscription</title>
</head>

<body>
    {% include 'header.html.twig' %}
    {% if app.flashes('success') %}
        <div class="alert alert-success">
            {{ app.flashes('success')|first }}
        </div>
    {% elseif app.flashes('error') %}
        <div class="alert alert-danger">
            {{ app.flashes('error')|first }}
        </div>
    {% endif %}

    <div class="container-login" id="container">
        <div class="form-container sign-up-container">
            <form class="form-login" id="form" method="POST" action="{{ path('connexion_process_form') }}">
                <h1 class="h1-login">Créer un compte</h1>
                <input type="text" name="username" placeholder="Username">
                <input type="email" name="email" placeholder="Email" id="username" required>
                <input type="password" name="password" placeholder="*********" id="password">
                <label class="form-label" for="userType">Vous êtes :</label>
                <select class="form-select" name="userType" id="userType" required>
                    <option value="etudiant">Étudiant</option>
                    <option value="professeur">Professeur</option>
                </select>
                <input type="submit" name="register" class="btn-login" value="S'inscrire">
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form class="form-login" method="POST" action="{{ path('connexion_process_form') }}">
                <h1 class="h1-login">Se connecter</h1>
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="*********">
                <label class="form-label" for="loginUserType">Vous êtes :</label>
                <select class="form-select" name="loginUserType" id="loginUserType" required>
                    <option value="etudiant">Étudiant</option>
                    <option value="professeur">Professeur</option>
                </select>
                <input type="submit" name="login" class="btn-login" value="Se connecter">
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Bienvenue !</h1>
                    <p class="p-login">Commencez votre aventure en créant un compte.</p>
                    <button class="press btn-login" id="signIn">Se connecter</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Bon retour</h1>
                    <p class="p-login">Connectez-vous avec votre compte.</p>
                    <button class="press btn-login" id="signUp">S'inscrire</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
